h1{
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
header{
    background-color: grey;
}
img{ 
    padding: 10px 30px;

}
.container{ 
    
}